#wrapper {
    display: grid;
    width: auto;
    height: 100vh;
    margin: auto;
    background-color: rgb(148, 200, 197);
    grid-gap: 10px;
    grid-template-areas: 
    's1 s1 s1'
    's4 s4 s4'
    's3 s3 s3'
    's2 s2 s2'
    'ft ft ft';
}

#as {
    display: flex;
    flex-wrap: wrap;
}
#sec1 {
    grid-area: s1;
    height: 300px;
    width: 1424px;
    background-size: cover;
    background-image: url(../ps/webb-banner.jpg);
    position: sticky;
    top: 0px;
}

#sec2 {
    grid-area: s2;
    width: 1423px;
    height: 500px;
    border: solid 1px black;
    border-radius: 25px;
    text-align: center;
}

#sec3 {
    grid-area: s3;
    width: 1420px;
    display: grid;
    padding: 15px;
    grid-template-areas: 
    'a1 a2 a3';
}

#sec4 {
    grid-area: s4;
    width: 500px;
    height: 300px;
    border: solid 1px gray;
    border-radius: 25px;
    justify-content: center;
    display: grid;
    
}

footer {
    grid-area: ft;
    border: solid 1px black;
}

article {
    gap: 15px;
}

#art1 {
    grid-area: a1;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 25px;
    background-size: cover;
    background-image: url(../img/animals/feeding-time-for-the-panda-550x413.jpeg);
}

#art2 {
    grid-area: a2;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 25px;
    background-size: cover;
    background-image: url(../img/food/frukt.jpeg)
}

#art3 {
    grid-area: a3;
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 25px;
    background-size: cover;
    background-image: url(../img/persons/personal.jpg);
}

#cardWrapper {
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    justify-content: center;
}

body{
    padding: 0%;
}

#sec4 {
    grid-area: s4;
}