#cardWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    background-color: rgb(38, 80, 30);
    width: 200px;
    height: 200px;
    border: solid 1px black;
    border-radius: 25px;
    text-align: center;
    grid-area: s2;
    display: flex;
    justify-content: center;
}



section {
    width: 200px;
    height: 200px;
    background-size: cover;
    display: flex;
}

#s1 {
    background-image: url(../img/persons/avatar-14442c2e192eabfebb9e45f07b23cdd8.jpg);
}

#s2 {
    background-image: url(../img/persons/avatar-1b1afc16e9bc79edbb292d32abbc2a86.jpg)
}

#s3 {
    background-image: url(../img/persons/avatar-2180facc60532c668ad3eefb093831d9.jpg)
}

#s4 {
    background-image: url(../img/persons/avatar-23fdc1d1c52f710520d659f56a264b40.jpg)
}

#s5 {
    background-image: url(../img/persons/avatar-6eff317c04c60419d06b2f4b0323eef0.jpg);
}

#s6 {
    background-image: url(../img/persons/avatar-7e6c3ea471a1ac6911e35c6b3fa46870.jpg);
}

#sec1 {
    height: 200px;
    width: 1422px;
    border: solid 1px black;
    justify-content: center;
}   

article {
    gap: 15px;
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(128, 160, 97);
}

a {
    text-transform: uppercase;
    color: rgb(26, 69, 31);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

